.about {
  min-width: 320px;
  padding: 0 15px;
  box-sizing: border-box;
  padding-bottom: 50px; }
  .about .paginations {
    display: none; }
  .about .container {
    margin: 0 auto;
    text-align: center; }
  .about__title {
    color: #91171d;
    font-family: "Cormorant - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 41px; }
  .about__photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 290px;
    height: 458px; }
    .about__photos .photo__img--right {
      display: none; }
    .about__photos .photo__desc {
      color: #342b2b;
      font-family: "Cormorant";
      font-size: 16px;
      font-weight: 300;
      display: none; }
      .about__photos .photo__desc--right {
        display: inline-block;
        text-align: center;
        width: 290px;
        padding: 0 15px;
        height: 201px;
        line-height: 19px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0; }
      .about__photos .photo__desc--left {
        display: inline-block;
        text-align: center;
        width: 290px;
        padding: 0 15px;
        height: 458px;
        box-sizing: border-box;
        position: absolute;
        top: 0; }
        .about__photos .photo__desc--left .desc__content {
          margin-top: 24px; }

@media screen and (min-width: 764px) {
  .about {
    padding: 0 20px;
    padding-top: 4px;
    padding-bottom: 60px;
    height: auto; }
    .about .container {
      height: 100%; }
    .about__title {
      font-size: 36px;
      margin-bottom: 60px; }
    .about__photos {
      position: relative;
      width: 100%;
      height: 902px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .about__photos .photo__img {
        display: flex;
        height: 544px;
        width: 352px; }
        .about__photos .photo__img:not(:last-child) {
          margin-right: 20px; }
        .about__photos .photo__img--left {
          align-self: flex-start; }
        .about__photos .photo__img--right {
          align-self: flex-end; }
      .about__photos .photo__desc {
        position: absolute;
        font-size: 16px;
        text-align: left;
        padding: 27px 27px 24px;
        line-height: 20px;
        height: auto; }
        .about__photos .photo__desc .desc__content {
          margin-top: 0; }
        .about__photos .photo__desc--left {
          width: 457px;
          background-color: #ece5e1;
          opacity: 0.8;
          top: 37px;
          right: 0; }
        .about__photos .photo__desc--right {
          padding: 45px 15px 38px;
          width: 432px;
          background-color: #ece5e1;
          opacity: 0.8;
          bottom: 70px;
          left: 0; } }
