.blog {
    min-width: 320px;
    padding: 0 15px;
    text-align: center;
    padding-bottom: 58px;
    .link-to-blog {
color: #79100b;
font-family: "Cormorant";
font-size: 14px;
font-weight: 400;
text-decoration: none;
border-bottom: 1px solid #79100b;
padding-bottom: 4px;
    }
    .container {
        margin: 0 auto;
    }
    &__title {
    color: #91171d;
    font-family: "Cormorant";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
    }
    .slider {
        width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-bottom: 90px;
        &__nav {
            position: absolute;
            bottom: -41px;
            left: 53px;
            display: flex;
            flex-direction: row;
            height: 30px;
            .nav__item{  
color: #342b2b;
font-family: "Cormorant";
font-size: 24px;
font-weight: 400;
&--all {
    margin-top: 12px;
    font-size: 16px;
}
            }
        }
        .slide {
            width: 244px;
            display: none;
            justify-content: flex-start;
            &--active {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            &__title {
                margin-top: 0;
                margin-bottom: 8px;
                word-spacing: 3px;
                letter-spacing: -0.5px;
                color: #342b2b;
                font-family: "Cormorant";
                font-size: 18px;
                font-weight: 500;
            }
            &__desc {
                line-height: 19.5px;
                margin-top: 0;
            }
            &__link {
                text-decoration: none;
                color: #342b2b;
                font-family: "Cormorant";
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.8px;
                .tags {
                    text-align-last: left;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 12px;
                    .tag {
color: #342b2b;
font-family: "Cormorant";
font-size: 14px;
font-weight: 300;
letter-spacing: 0.7px;
                        margin-right: 10px;
                        &:last-child{
                            margin-right: 0;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 764px) {
.blog {
    padding: 0 27px;
    padding-bottom: 10px;
    position: relative;
    &__title {
        font-size: 48px;
        margin-top: 8px;
        margin-bottom: 45px;
        letter-spacing: 1px;
        margin-left: -10px;
    }
    .slider {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 49px;
        &__nav {
            display: inline-block;
            left: unset;
            bottom: unset;
            position: absolute;
            right: 133px;
            top: -96px;
        }
        .slide {
            width: 345px;
            &__title {
                font-size: 24px;
                margin-top: 4px;
                margin-bottom: 6px;
            }
            &__desc {
                padding: 0 12px;
                font-size: 16px;
            }
            .tag {
                font-size: 16px;
            }
        }

    }


}

}


@media screen and (min-width: 1440px)  {
    .blog {
        padding: 0;
        overflow: hidden;
        padding-bottom: 16px;
        &__title {
            font-size: 48px;
            margin-top: 5px;
            margin-left: 0;
            margin-bottom: 117px;
        }
            .slider {
                margin-bottom: 87px;
                &:first-of-type {
                    margin-left: -167px;
                }
                .slide {
                    margin-right: 29px;
                    width: 401px;
                    min-height: 800px;
                    &__title {
                        font-size: 30px;
                        margin-top: 12px;
                        text-align: left;
                        letter-spacing: -0.4px;
                        word-spacing: 2.4px;
                        margin-left: -2px;
                        margin-bottom: 11px;
                    }
                    &__desc {
                        text-align: left;
                        font-size: 18px;
                        padding-left: 0;
                        letter-spacing: -0.4px;
                        word-spacing: 2.4px;
                        margin-left: -2px;
                    }
                    &__link {
                        .tags {
margin-bottom: 9px;
                            .tag {
                                font-size: 16px;
                            }
                        }
                    }
                
                }

            }
            .link-to-blog {
                font-size: 18px;
                margin-left: -37px;
            }
     
    }
}