.main-page {
  min-width: 320px;
  padding: 0 15px;
  height: 490px;
  box-sizing: border-box;
  background-image: url(/img/320_main-page_bg-1.jpg);
  background-repeat: no-repeat; }
  .main-page .catalog {
    display: none; }
  .main-page .salelink {
    display: none; }
  .main-page .main-nav {
    display: inline-block;
    width: 33px;
    height: 25px;
    padding-top: 9px;
    float: left; }
    .main-page .main-nav:after {
      content: "";
      clear: both; }
  .main-page .hamburger {
    display: inline-block;
    width: 33px;
    height: 16px;
    border: none;
    padding: 0;
    position: relative;
    background-color: transparent; }
    .main-page .hamburger__line {
      position: absolute;
      display: inline-block;
      height: 2px;
      background-color: #0b0b0b; }
      .main-page .hamburger__line--top {
        width: 33px;
        top: 0;
        left: 0; }
      .main-page .hamburger__line--middle {
        width: 18px;
        right: 0;
        top: 7px; }
      .main-page .hamburger__line--bottom {
        width: 18px;
        bottom: 0;
        left: 0; }
  .main-page .main-header {
    display: inline-block;
    min-width: 257px;
    height: 16px;
    padding-top: 9px;
    padding-bottom: 9px; }
    .main-page .main-header .header__logo {
      display: none; }
    .main-page .main-header .header__menu-items {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    .main-page .main-header .header__menu-item {
      margin-right: 30px; }
      .main-page .main-header .header__menu-item:last-child {
        margin-right: 0; }
    .main-page .main-header .menu-item__link {
      display: inline-block; }
      .main-page .main-header .menu-item__link--search {
        width: 16px;
        height: 16px;
        background: transparent url(/img/320_main-page_search-icon.png) no-repeat; }
      .main-page .main-header .menu-item__link--lk {
        width: 14px;
        height: 16px;
        background: transparent url(/img/320_main-page_lk-icon.png) no-repeat; }
      .main-page .main-header .menu-item__link--cart {
        width: 15px;
        height: 16px;
        background: transparent url(/img/320_main-page_cart-icon.png) no-repeat; }
  .main-page .container {
    margin: 0 auto;
    position: relative; }
  .main-page__content {
    position: absolute;
    top: calc(50% - 60px);
    left: 0;
    z-index: 1; }
  .main-page__title {
    color: #342b2b;
    line-height: 29px;
    font-family: "Cormorant";
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px; }
  .main-page .link-to-catalog {
    color: #79100b;
    font-family: "Cormorant";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #79100b; }
  .main-page .socials {
    display: none; }
  .main-page .paginations {
    display: none; }
  .main-page .slider {
    width: 219px;
    margin-top: 17px;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
    z-index: 0; }
    .main-page .slider__nav {
      display: none; }
    .main-page .slider .slide__desc {
      display: none; }
  .main-page .link-to-all {
    display: none; }

@media screen and (min-width: 764px) {
  .main-page {
    height: 823px;
    padding: 0;
    padding-right: 59px;
    background-image: url(/img/764_main-page_bg-1.jpg);
    background-position: right top; }
    .main-page__title {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 37px; }
    .main-page__content {
      margin-left: 81px;
      width: 370px;
      height: 300px;
      top: calc(50% - 74px); }
    .main-page .line-divider--mobile {
      display: none; }
    .main-page .container {
      height: calc(823px - 91px); }
    .main-page .salelink {
      display: inline-block;
      text-decoration: none;
      color: #342b2b;
      font-family: "Cormorant";
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      width: 120px;
      transform: rotate(270deg);
      position: absolute;
      bottom: 217px;
      left: -36px;
      word-spacing: 4px; }
      .main-page .salelink:before {
        background-color: #342b2b;
        position: absolute;
        left: -124px;
        top: 9px;
        width: 94px;
        height: 1px;
        display: inline-block;
        content: ""; }
    .main-page .main-nav {
      position: relative;
      width: 50px;
      height: 823px;
      padding-top: 40px;
      background-color: #ece5e1;
      border-radius: 2px;
      box-sizing: border-box; }
    .main-page .hamburger {
      margin-left: 9px; }
    .main-page .main-header {
      padding-top: 33px;
      padding-bottom: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .main-page .main-header .header__logo {
        display: inline-block;
        width: 126px;
        height: 28px;
        background-image: url(/img/764_main-page_logo.png);
        background-repeat: no-repeat;
        margin-left: 73px; }
      .main-page .main-header .header__menu-items {
        padding-top: 10px;
        width: 221px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .main-page .main-header .header__menu-item {
        margin-right: 0; }
    .main-page .slider {
      display: flex;
      flex-direction: row;
      margin-top: 27px;
      width: 393px;
      height: 647px;
      justify-content: flex-end;
      position: relative; }
      .main-page .slider__nav {
        position: absolute;
        display: flex;
        width: 74px;
        height: 35px;
        flex-direction: row;
        bottom: -53px;
        right: 142px;
        justify-content: space-between; }
      .main-page .slider__item {
        color: #952126;
        font-family: "Cormorant";
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1.2px; }
        .main-page .slider__item--all {
          margin-top: 14px;
          font-size: 18px;
          color: #0b0b0b; }
      .main-page .slider__btn {
        padding: 0;
        box-sizing: border-box;
        background-image: url(/img/764_slider_btn.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        background-position: 0 9px;
        width: 7px;
        height: 100%;
        display: flex;
        margin-right: 3px; }
        .main-page .slider__btn--right {
          margin-left: 3px;
          margin-right: 0;
          transform: rotate(180deg);
          background-position: 0 13px; }
      .main-page .slider .slide {
        width: 393px;
        height: 647px;
        position: relative; }
        .main-page .slider .slide__desc {
          box-sizing: border-box;
          padding-top: 19px;
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 344px;
          height: 98px;
          border-radius: 2px;
          background-color: #ece5e1;
          opacity: 0.8;
          bottom: 47px;
          right: 0;
          color: #91161d;
          font-family: "Cormorant";
          font-size: 24px;
          font-weight: 600;
          padding-right: 33px;
          align-items: flex-end; }
          .main-page .slider .slide__desc .desc__name {
            margin: 0;
            margin-bottom: 8px; }
          .main-page .slider .slide__desc .desc__price {
            font-size: 16px;
            margin-left: auto;
            position: relative;
            margin-right: 9px; }
            .main-page .slider .slide__desc .desc__price:before {
              position: absolute;
              content: "";
              display: inline-block;
              top: 12px;
              left: -90px;
              width: 72px;
              height: 1px;
              background-color: #91171d; }
    .main-page .link-to-catalog {
      font-size: 16px;
      margin-left: 1px;
      padding-bottom: 3px; }
    .main-page .link-to-all {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      margin-top: -37px;
      width: 96px;
      color: #342b2b;
      font-family: "Cormorant";
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.8px; }
    .main-page .socials {
      display: flex;
      margin-top: auto;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin-top: 29px;
      margin-left: 81px;
      width: 370px; }
      .main-page .socials .social {
        margin-right: 40px;
        position: relative; }
        .main-page .socials .social:not(:last-child):after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 21px;
          height: 1px;
          background-color: #342b2b;
          top: 10px;
          right: -31px; }
        .main-page .socials .social__link {
          text-decoration: none;
          opacity: 0.8;
          color: #342b2b;
          font-family: "Open Sans";
          font-size: 11px;
          font-weight: 400;
          letter-spacing: 0.5px; } }

@media screen and (min-width: 1440px) {
  .main-page {
    background-image: url(/img/1440_main-page_bg-1.jpg);
    height: 840px; }
    .main-page__title {
      font-size: 48px;
      line-height: 59px;
      margin-bottom: 34px;
      position: relative; }
      .main-page__title:after {
        position: absolute;
        display: inline-block;
        content: "19";
        top: 14px;
        right: 34px;
        width: 127px;
        height: 120px;
        opacity: 0.3;
        color: #ece5e1;
        font-family: "Cormorant";
        font-size: 177px;
        font-weight: 500;
        z-index: -1; }
    .main-page__content {
      width: 500px;
      margin-left: 130px;
      top: calc(50% - 131px); }
    .main-page .salelink {
      font-size: 18px;
      width: 145px;
      left: -39px;
      letter-spacing: 0.9px;
      bottom: 220px; }
      .main-page .salelink:before {
        top: 13px;
        left: -125px; }
    .main-page .socials {
      margin-top: -17px;
      margin-left: 210px; }
      .main-page .socials .social {
        margin-right: 45px; }
        .main-page .socials .social:not(:last-child):after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 24px;
          height: 1px;
          background-color: #342b2b;
          top: 10px;
          right: -35px; }
        .main-page .socials .social__link {
          letter-spacing: 0;
          font-size: 16px; }
    .main-page .main-header {
      padding-top: 35px;
      padding-bottom: 25px;
      min-width: 1300px;
      box-sizing: border-box;
      height: 80px; }
      .main-page .main-header .header__logo {
        width: 156px;
        height: 34px;
        background-image: url(/img/1440_main-page_logo.png);
        margin-left: 204px; }
      .main-page .main-header .header__menu-items {
        padding-top: 0;
        margin-right: 160px;
        width: 291px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .main-page .main-header .header__menu-item {
        margin-right: 0; }
        .main-page .main-header .header__menu-item .menu-item__link--search {
          width: 20px;
          height: 20px;
          background: transparent url(/img/1440_main-page_search-icon.png) no-repeat; }
        .main-page .main-header .header__menu-item .menu-item__link--lk {
          width: 17px;
          height: 20px;
          background: transparent url(/img/1440_main-page_lk-icon.png) no-repeat; }
        .main-page .main-header .header__menu-item .menu-item__link--cart {
          width: 17px;
          height: 20px;
          background: transparent url(/img/1440_main-page_cart-icon.png) no-repeat; }
    .main-page .main-nav {
      width: 75px;
      height: 759px;
      box-sizing: border-box; }
      .main-page .main-nav .hamburger {
        margin-left: 21px; }
    .main-page .slider {
      margin-top: 0;
      margin-right: 160px;
      width: 605px;
      height: 680px; }
      .main-page .slider__item {
        font-size: 36px; }
        .main-page .slider__item--all {
          font-size: 24px;
          margin-top: 27px; }
      .main-page .slider__btn {
        width: 10px;
        background-image: url(/img/1440_slider_btn.svg);
        background-position: 0 center;
        margin-right: 24px; }
        .main-page .slider__btn--right {
          margin-right: 0;
          margin-left: 18px;
          background-position: 0 center; }
      .main-page .slider__nav {
        height: 50px;
        width: 121px;
        bottom: -62px;
        right: calc(40% + 2px); }
      .main-page .slider .slide {
        width: 605px;
        height: 680px; }
        .main-page .slider .slide__desc {
          align-items: flex-end;
          padding-top: 22px;
          padding-right: 45px;
          width: 367px;
          height: 104px;
          right: 120px;
          bottom: 76px; }
        .main-page .slider .slide .desc__name {
          font-size: 24px;
          margin-bottom: 6px; }
        .main-page .slider .slide .desc__price {
          font-size: 18px;
          margin-right: 0; }
          .main-page .slider .slide .desc__price:before {
            top: 14px;
            left: -89px; }
    .main-page .paginations {
      margin: 0;
      padding: 0;
      position: absolute;
      display: flex;
      text-align: center;
      flex-direction: column;
      height: 310px;
      list-style: none;
      right: 42px;
      top: 181px; }
      .main-page .paginations .pagination {
        margin-bottom: 31px; }
        .main-page .paginations .pagination:last-child {
          margin-bottom: 0; }
        .main-page .paginations .pagination--active {
          margin-bottom: 129px;
          position: relative; }
          .main-page .paginations .pagination--active:after {
            position: absolute;
            content: "";
            bottom: -105px;
            left: 9px;
            display: inline-block;
            height: 94px;
            width: 1px;
            background-color: #342b2b; }
          .main-page .paginations .pagination--active .pagination__link {
            color: #91171d;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600; }
        .main-page .paginations .pagination__link {
          color: #342b2b;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 400;
          text-decoration: none; }
    .main-page .link-to-all {
      margin-top: 0;
      margin-right: 160px;
      width: 108px;
      color: #342b2b;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.9px; }
    .main-page .link-to-catalog {
      font-size: 18px;
      padding-bottom: 4px; } }
