.main-page {
    min-width: 320px;
    padding: 0 15px;
    height: 490px;
    box-sizing: border-box;
    background-image: url(/img/320_main-page_bg-1.jpg);
    background-repeat: no-repeat;

    .catalog {
        display: none;
    }

    .salelink {
        display: none;
    }

    .main-nav {
        display: inline-block;
        width: 33px;
        height: 25px;
        padding-top: 9px;
        float: left;

        &:after {
            content: "";
            clear: both;
        }
    }

    .hamburger {
        display: inline-block;
        width: 33px;
        height: 16px;
        border: none;
        padding: 0;
        position: relative;
        background-color: transparent;

        &__line {
            position: absolute;
            display: inline-block;
            height: 2px;
            background-color: #0b0b0b;

            &--top {
                width: 33px;
                top: 0;
                left: 0;
            }

            &--middle {
                width: 18px;
                right: 0;
                top: 7px;
            }

            &--bottom {
                width: 18px;
                bottom: 0;
                left: 0;
            }
        }
    }

    .main-header {
        display: inline-block;
        min-width: 257px;
        height: 16px;
        padding-top: 9px;
        padding-bottom: 9px;

        .header__logo {
            display: none;
        }

        .header__menu-items {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

        }

        .header__menu-item {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        .menu-item__link {
            display: inline-block;

            &--search {
                width: 16px;
                height: 16px;
                background: transparent url(/img/320_main-page_search-icon.png) no-repeat;
            }

            &--lk {
                width: 14px;
                height: 16px;
                background: transparent url(/img/320_main-page_lk-icon.png) no-repeat;
            }

            &--cart {
                width: 15px;
                height: 16px;
                background: transparent url(/img/320_main-page_cart-icon.png) no-repeat;
            }
        }
    }

    .container {
        margin: 0 auto;
        position: relative;
    }

    &__content {

        position: absolute;
        top: calc(50% - 60px);
        left: 0;
        z-index: 1;
    }

    &__title {
        color: #342b2b;
        line-height: 29px;
        font-family: "Cormorant";
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 15px;
    }

    .link-to-catalog {
        color: #79100b;
        font-family: "Cormorant";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 1px solid #79100b;
    }

    .socials {
        display: none;
    }

    .paginations {
        display: none;
    }

    .slider {
        width: 219px;
        margin-top: 17px;
        display: flex;
        position: relative;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        z-index: 0;

        &__nav {
            display: none;
        }

        .slide {
            &__desc {
                display: none;
            }
        }
    }

    .link-to-all {
        display: none;
    }
}

@media screen and (min-width: 764px) {
    .main-page {
        height: 823px;
        padding: 0;
        padding-right: 59px;
        background-image: url(/img/764_main-page_bg-1.jpg);
        background-position: right top;

        &__title {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 37px;
        }

        &__content {
            margin-left: 81px;
            margin-top: -14px;
            width: 370px;
            height: 300px;
        }

        .line-divider--mobile {
            display: none;
        }

        .container {
            height: calc(823px - 91px);
        }

        .salelink {
            display: inline-block;
            text-decoration: none;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            width: 120px;
            transform: rotate(270deg);
            position: absolute;
            bottom: 217px;
            left: -36px;
            word-spacing: 4px;

            &:before {
                background-color: #342b2b;
                position: absolute;
                left: -124px;
                top: 9px;
                width: 94px;
                height: 1px;
                display: inline-block;
                content: "";
            }
        }

        .main-nav {
            position: relative;
            width: 50px;
            height: 823px;
            padding-top: 40px;
            background-color: #ece5e1;
            border-radius: 2px;
            box-sizing: border-box;
        }

        .hamburger {
            margin-left: 9px;
        }

        .main-header {
            padding-top: 33px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .header__logo {
                display: inline-block;
                width: 126px;
                height: 28px;
                background-image: url(/img/764_main-page_logo.png);
                background-repeat: no-repeat;
                margin-left: 73px;
            }

            .header__menu-items {
                padding-top: 10px;
                width: 221px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .header__menu-item {
                margin-right: 0;
            }
        }

        .slider {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            width: 393px;
            height: 647px;
            justify-content: flex-end;
            position: relative;
            &__nav {
                position: absolute;
                display: flex;
                width: 74px;
                height: 35px;
                flex-direction: row;
                bottom: -53px;
                right: 142px;
                justify-content: space-between;
            }
            &__item {
                color: #952126;
                font-family: "Cormorant";
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 1.2px;
                &--all {
                    margin-top: 14px;
                    font-size: 18px;
                    color: #0b0b0b;
                }
            }
            &__btn {
                padding: 0;
                background-image: url(/img/764_slider_btn.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                background-position: 0 9px;
                width: 13px;
                display: flex;
                margin-right: 3px;
                &--right {
                    margin-left: 3px;
                    margin-right: 0;
                    transform: rotate(180deg);
                    background-position: 0 13px;
                }
            }
            .slide {
                width: 393px;
                height: 647px;
                position: relative;

                &__desc {
                    box-sizing: border-box;
                    padding-top: 19px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 344px;
                    height: 98px;
                    border-radius: 2px;
                    background-color: #ece5e1;
                    opacity: 0.8;
                    bottom: 47px;
                    right: 0;
                    color: #91161d;
                    font-family: "Cormorant";
                    font-size: 24px;
                    font-weight: 600;

                    .desc__name {
                        margin: 0;
                        margin-bottom: 8px;
                    }

                    .desc__price {
                        font-size: 16px;
                        margin-right: 41px;
                        margin-left: auto;
                        letter-spacing: 0.2px;
                        position: relative;

                        &:before {
                            position: absolute;
                            content: "";
                            display: inline-block;
                            top: 12px;
                            left: -89px;
                            width: 73px;
                            height: 1px;
                            background-color: #91171d;
                        }
                    }
                }

            }
        }

        .link-to-catalog {
            font-size: 16px;
            margin-left: 1px;
            padding-bottom: 3px;
        }

        .link-to-all {
            display: flex;
            margin-left: auto;
            margin-right: 0;
            margin-top: -37px;
            width: 96px;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.8px;
        }

        .socials {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin-top: 29px;
            margin-left: 81px;
            width: 370px;

            .social {
                margin-right: 40px;
                position: relative;

                &:not(:last-child):after {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 1px;
                    background-color: #342b2b;
                    top: 10px;
                    right: -31px;
                }

                &__link {
                    text-decoration: none;
                    opacity: 0.8;
                    color: #342b2b;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}