.main-page {
    min-width: 320px;
    padding: 0 15px;
    height: 490px;
    box-sizing: border-box;
    background-image: url(/img/320_main-page_bg-1.jpg);
    background-repeat: no-repeat;
    background-position: top right;

    .catalog {
        display: none;
    }

    .salelink {
        display: none;
    }

    .main-nav {
        display: inline-block;
        width: 33px;
        height: 25px;
        padding-top: 9px;
        float: left;

        &:after {
            content: "";
            clear: both;
        }
    }

    .hamburger {
        display: inline-block;
        width: 33px;
        height: 16px;
        border: none;
        padding: 0;
        position: relative;
        background-color: transparent;

        &__line {
            position: absolute;
            display: inline-block;
            height: 2px;
            background-color: #0b0b0b;

            &--top {
                width: 33px;
                top: 0;
                left: 0;
            }

            &--middle {
                width: 18px;
                right: 0;
                top: 7px;
            }

            &--bottom {
                width: 18px;
                bottom: 0;
                left: 0;
            }
        }
    }

    .main-header {
        display: inline-block;
        min-width: 257px;
        width: calc(100% - 33px);
        height: 16px;
        padding-top: 9px;
        padding-bottom: 9px;

        .header__logo {
            display: none;
        }

        .header__menu-items {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

        }

        .header__menu-item {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        .menu-item__link {
            display: inline-block;

            &--search {
                width: 16px;
                height: 16px;
                background: transparent url(/img/320_main-page_search-icon.png) no-repeat;
            }

            &--lk {
                width: 14px;
                height: 16px;
                background: transparent url(/img/320_main-page_lk-icon.png) no-repeat;
            }

            &--cart {
                width: 15px;
                height: 16px;
                background: transparent url(/img/320_main-page_cart-icon.png) no-repeat;
            }
        }
    }

    .container {
        margin: 0 auto;
        position: relative;
    }

    &__content {

        position: absolute;
        top: calc(50% - 60px);
        left: 0;
        z-index: 1;
    }

    &__title {
        color: #342b2b;
        line-height: 29px;
        font-family: "Cormorant";
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 15px;
    }


    .link-to-catalog {
        color: #79100b;
        font-family: "Cormorant";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 1px solid #79100b;
    }

    .socials {
        display: none;
    }

    .paginations {
        display: none;
    }

    .slider {
        width: 219px;
        margin-top: 17px;
        display: flex;
        position: relative;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        z-index: 0;

        &__nav {
            width: 219px;
            position: absolute;
            top: 0;
            left: 0;
            height: 389px;
            display: flex;
            flex-direction: row;
        }
        &__item {
            display: none;
        }
        &__btn {
            width: 110px;
            height: 389px;
            background-color: transparent;
            border: none;
            padding: 0;
            &--left {

            }
            &--right {

            }
        }

        .slide {
            display: none;
            &__desc {
                display: none;
            }
            &--active {
                display: flex;
            }
        }
    }

    .link-to-all {
        display: none;
    }
}

@media screen and (min-width: 764px) {
    .main-page {
        height: 823px;
        padding: 0;
        padding-right: 59px;
        background-image: url(/img/764_main-page_bg-1.jpg);
        background-position: right top;

        &__title {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 37px;
        }

        &__content {
            margin-left: 81px;
            width: 370px;
            height: 300px;
            top: calc(50% - 74px)
        }

        .line-divider--mobile {
            display: none;
        }

        .container {
            height: calc(823px - 91px);
        }

        .salelink {
            display: inline-block;
            text-decoration: none;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            width: 120px;
            transform: rotate(270deg);
            position: absolute;
            bottom: 217px;
            left: -36px;
            word-spacing: 4px;

            &:before {
                background-color: #342b2b;
                position: absolute;
                left: -124px;
                top: 9px;
                width: 94px;
                height: 1px;
                display: inline-block;
                content: "";
            }
        }

        .main-nav {
            position: relative;
            width: 50px;
            height: 823px;
            padding-top: 40px;
            background-color: #ece5e1;
            border-radius: 2px;
            box-sizing: border-box;
        }

        .hamburger {
            margin-left: 9px;
        }

        .main-header {
            padding-top: 33px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100% - 50px);

            .header__logo {
                display: inline-block;
                width: 126px;
                height: 28px;
                background-image: url(/img/764_main-page_logo.png);
                background-repeat: no-repeat;
                margin-left: 73px;
            }

            .header__menu-items {
                padding-top: 10px;
                width: 221px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .header__menu-item {
                margin-right: 0;
            }
        }

        .slider {
            display: flex;
            flex-direction: row;
            margin-top: 27px;
            width: 393px;
            height: 647px;
            justify-content: flex-end;
            position: relative;
            &__nav {
                top: unset;
                left: unset;
                position: absolute;
                display: flex;
                width: 74px;
                height: 35px;
                flex-direction: row;
                bottom: -53px;
                right: 142px;
                justify-content: space-between;
            }
            &__item {
                display: unset;
                color: #952126;
                font-family: "Cormorant";
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 1.2px;
                &--all {
                    margin-top: 14px;
                    font-size: 18px;
                    color: #0b0b0b;
                }
            }
            &__btn {
                padding: 0;
                box-sizing: border-box;
                background-image: url(/img/764_slider_btn.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                background-position: 0 9px;
                width: 7px;
                height: 100%;
                display: flex;
                margin-right: 3px;
                &--right {
                    margin-left: 3px;
                    margin-right: 0;
                    transform: rotate(180deg);
                    background-position: 0 13px;
                }
            }
            .slide {
                width: 393px;
                height: 647px;
                position: relative;

                &__desc {
                    box-sizing: border-box;
                    padding-top: 19px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 344px;
                    height: 98px;
                    border-radius: 2px;
                    background-color: #ece5e1;
                    opacity: 0.8;
                    bottom: 47px;
                    right: 0;
                    color: #91161d;
                    font-family: "Cormorant";
                    font-size: 24px;
                    font-weight: 600;
                    padding-right: 33px;
                    align-items: flex-end;

                    .desc__name {
                        margin: 0;
                        margin-bottom: 8px;
                    }

                    .desc__price {
                        font-size: 16px;
                        margin-left: auto;
                        position: relative;
                        margin-right: 9px;
                        &:before {
                            position: absolute;
                            content: "";
                            display: inline-block;
                            top: 12px;
                            left: -90px;
                            width: 72px;
                            height: 1px;
                            background-color: #91171d;
                        }
                    }
                }

            }
        }

        .link-to-catalog {
            font-size: 16px;
            margin-left: 1px;
            padding-bottom: 3px;
        }

        .link-to-all {
            display: flex;
            margin-left: auto;
            margin-right: 0;
            margin-top: -37px;
            width: 96px;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.8px;
        }

        .socials {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin-top: 29px;
            margin-left: 81px;
            width: 370px;

            .social {
                margin-right: 40px;
                position: relative;

                &:not(:last-child):after {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 1px;
                    background-color: #342b2b;
                    top: 10px;
                    right: -31px;
                }

                &__link {
                    text-decoration: none;
                    opacity: 0.8;
                    color: #342b2b;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .main-page {
        background-image: url(/img/1440_main-page_bg-1.jpg);
        height: 840px;
        &__title {
            font-size: 48px;
            line-height: 59px;
            margin-bottom: 34px;
            position: relative;
            &:after {
                position: absolute;
                display: inline-block;
                content: "19";
                top: 14px;
                right: 34px;
width: 127px;
height: 120px;
opacity: 0.3;
color: #ece5e1;
font-family: "Cormorant";
font-size: 177px;
font-weight: 500;
z-index: -1;
            }
        }
        &__content {
            width: 500px;
            margin-left: 130px;
            top: calc(50% - 131px);
        }
        .salelink {
            font-size: 18px;
            width: 145px;
            left: -39px;
            letter-spacing: 0.9px;
            bottom: 220px;
            &:before {
                top: 13px;
                left: -125px;
            }
        }
        .socials {
            margin-top: -17px;
            margin-left: 210px;
            .social {
                &:not(:last-child):after {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 1px;
                    background-color: #342b2b;
                    top: 10px;
                    right: -35px;
                }
                margin-right: 45px;
                &__link {
                    letter-spacing: 0;
                    font-size: 16px;
                }
            }
        }
        .main-header {
            padding-top: 35px;
            padding-bottom: 25px;
            min-width: 1300px;
            box-sizing: border-box;
            width: calc(100% - 75px);

            height: 80px;
            .header__logo {
                width: 156px;
                height: 34px;
                background-image: url(/img/1440_main-page_logo.png);
                margin-left: 204px;
            }
            .header__menu-items {
                padding-top: 0;
                margin-right: 160px;
                width: 291px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .header__menu-item {
                margin-right: 0;
                .menu-item__link {        
                    &--search {
                        width: 20px;
                        height: 20px;
                        background: transparent url(/img/1440_main-page_search-icon.png) no-repeat;
                    }
        
                    &--lk {
                        width: 17px;
                        height: 20px;
                        background: transparent url(/img/1440_main-page_lk-icon.png) no-repeat;
                    }
        
                    &--cart {
                        width: 17px;
                        height: 20px;
                        background: transparent url(/img/1440_main-page_cart-icon.png) no-repeat;
                    }
                }
            }
            
        }
        .main-nav {
            width: 75px;
            height: 759px;
            box-sizing: border-box;
            .hamburger {
                margin-left: 21px;
            }
        }
        .slider {
            margin-top: 0;
            margin-right: 160px;
            width: 605px;
            height: 680px;
            &__item {
                font-size: 36px;
                &--all {
                    font-size: 24px;
                    margin-top: 27px;
                }
            }
            &__btn {
                width: 10px;
                background-image: url(/img/1440_slider_btn.svg);
                background-position: 0 center;
                margin-right: 24px;
                &--right {
                    margin-right: 0;
                    margin-left: 18px;
                    background-position: 0 center;
                }
            }
            &__nav {
                height: 50px;
                width: 121px;
                bottom: -62px;
                right: calc(40% + 2px);
            }
            .slide {
                width: 605px;
                height: 680px;
                &__desc {
                    align-items: flex-end;
                    padding-top: 22px;
                    padding-right: 45px;
                    width: 367px;
                    height: 104px;
                    right: 120px;
                    bottom: 76px;

                }
                .desc__name {
                    font-size: 24px;
                    margin-bottom: 6px;
                }
                .desc__price {
                    font-size: 18px;
                    margin-right: 0;
                    &:before{
                        top:14px;
                        left: -89px;
                    }
                }
            }
        }
        .paginations {
            margin: 0;
            padding: 0;
            position: absolute;
            display: flex;
            text-align: center; 
            flex-direction: column;
            height: 310px;
            list-style: none;
            right: 42px;
            top: 181px;
            .pagination {
                margin-bottom: 31px;
                &:last-child {
                    margin-bottom: 0;
                }
           &--active {
               margin-bottom: 129px;
               position: relative;
            &:after {
                position: absolute;
                content: "";
                bottom: -105px;
                left: 9px;
                display: inline-block;
                height: 94px;
                width: 1px;
                background-color: #342b2b;
                }
               .pagination__link {
                    color: #91171d;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 600;
               }
           }
            &__link{
                color: #342b2b;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: 400;
                text-decoration: none;
            }
            }
        }
        .link-to-all {
            margin-top: 0;
            margin-right: 160px;
        width: 108px;
        color: #342b2b;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        }
        .link-to-catalog {
            font-size: 18px;
            padding-bottom: 4px;
        }
    }
}