.main-footer {
  min-width: 320px;
  padding: 0 15px;
  background-color: #ece5e1;
  padding-top: 30px;
  height: 240px; }
  .main-footer .container {
    margin: 0 auto; }
  .main-footer__catalog {
    display: none; }
  .main-footer__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .main-footer__info .copyrights {
      display: block;
      width: 100%;
      color: #342b2b;
      font-family: "Cormorant";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 36px;
      text-align: right; }
    .main-footer__info .info__links {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none; }
      .main-footer__info .info__links .info__link {
        margin-bottom: 16px; }
        .main-footer__info .info__links .info__link--desktop {
          display: none; }
        .main-footer__info .info__links .info__link--tablet {
          display: none; }
        .main-footer__info .info__links .info__link .link__phone {
          text-decoration: none;
          color: #342b2b;
          font-family: "Cormorant";
          font-size: 16px;
          font-weight: 600; }
        .main-footer__info .info__links .info__link .socials {
          padding: 0;
          margin: 0;
          display: inline-block;
          list-style: none; }
          .main-footer__info .info__links .info__link .socials .social {
            margin-bottom: 13px; }
            .main-footer__info .info__links .info__link .socials .social:last-child {
              margin-bottom: 0; }
            .main-footer__info .info__links .info__link .socials .social .social__link {
              text-decoration: none;
              opacity: 0.8;
              color: #342b2b;
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400; }
    .main-footer__info .info__ways {
      display: flex;
      width: 139px;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      letter-spacing: 0.1px;
      margin-top: 5px; }
      .main-footer__info .info__ways .info__way {
        margin-bottom: 12px;
        color: #342b2b;
        font-family: "Cormorant";
        font-size: 16px;
        font-weight: 600; }
        .main-footer__info .info__ways .info__way--desktop {
          display: none; }
        .main-footer__info .info__ways .info__way--tablet {
          display: none; }

@media screen and (min-width: 764px) {
  .main-footer {
    padding: 0 19px;
    padding-top: 35px;
    height: 302px; }
    .main-footer__info {
      height: 100%; }
      .main-footer__info .copyrights {
        font-size: 14px;
        margin-top: 21px;
        position: relative; }
        .main-footer__info .copyrights:before {
          position: absolute;
          width: 12px;
          height: 12px;
          display: inline-block;
          background: transparent url(/img/764_main-footer_icon-copyright.png) no-repeat;
          top: 3px;
          right: 152px;
          content: ""; }
      .main-footer__info .info__links {
        width: 300px; }
        .main-footer__info .info__links .info__link--tablet {
          display: list-item; }
          .main-footer__info .info__links .info__link--tablet .card__desc {
            margin: 0;
            color: #342b2b;
            font-size: 12px;
            font-family: "Cormorant";
            font-weight: 600;
            margin-top: 5px; }
            .main-footer__info .info__links .info__link--tablet .card__desc .card__payments {
              font-family: "Cormorant";
              font-weight: 700;
              color: #342b2b;
              font-size: 12px; }
          .main-footer__info .info__links .info__link--tablet .card__types {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            margin-top: 2px; }
            .main-footer__info .info__links .info__link--tablet .card__types .card__type {
              height: 36px;
              display: inline-block; }
              .main-footer__info .info__links .info__link--tablet .card__types .card__type:nth-child(even) {
                margin-right: 10px;
                margin-left: 12px; }
              .main-footer__info .info__links .info__link--tablet .card__types .card__type--visa {
                background: transparent url(/img/764_main-footer_icon-visa.png) no-repeat;
                width: 36px; }
              .main-footer__info .info__links .info__link--tablet .card__types .card__type--master {
                background: transparent url(/img/764_main-footer_icon-mastercard.png) no-repeat;
                width: 57px; }
              .main-footer__info .info__links .info__link--tablet .card__types .card__type--pp {
                background: transparent url(/img/764_main-footer_icon-paypal.png) no-repeat;
                width: 36px; }
        .main-footer__info .info__links .info__link .socials {
          display: flex;
          flex-direction: row; }
          .main-footer__info .info__links .info__link .socials .social {
            margin: 0; }
            .main-footer__info .info__links .info__link .socials .social:nth-child(even) {
              margin-left: 27px;
              margin-right: 21px; }
      .main-footer__info .info__ways {
        width: 150px;
        margin-top: 4px;
        margin-right: 57px; }
        .main-footer__info .info__ways .info__way {
          margin-bottom: 14px; }
        .main-footer__info .info__ways .info__way--mobile {
          display: none; }
        .main-footer__info .info__ways .info__way--tablet {
          display: flex; } }

@media screen and (min-width: 1440px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    height: 521px;
    padding: 0; }
    .main-footer__catalog {
      padding-top: 60px;
      padding-left: 130px;
      padding-right: 40px;
      background-color: #decec5;
      display: flex;
      width: 773px;
      justify-content: space-between; }
      .main-footer__catalog .catalog__items {
        padding: 0;
        width: 150px;
        margin: 0;
        list-style: none;
        margin-right: 66px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .main-footer__catalog .catalog__items .catalog__item .item__link {
          text-decoration: none;
          color: #342b2b;
          font-family: "Cormorant";
          font-size: 18px;
          font-weight: 400; }
      .main-footer__catalog .brends__items {
        padding: 0;
        margin: 0;
        margin-top: -4px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 200px;
        width: 150px;
        margin-right: 87px; }
        .main-footer__catalog .brends__items .brends__item {
          margin-bottom: 25px; }
          .main-footer__catalog .brends__items .brends__item .item__link {
            text-decoration: none;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 18px;
            font-weight: 400; }
      .main-footer__catalog .sales__items {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 46px;
        width: 150px;
        justify-content: flex-start; }
        .main-footer__catalog .sales__items .sales__item {
          margin-bottom: 22px; }
          .main-footer__catalog .sales__items .sales__item .item__link {
            text-decoration: none;
            color: #342b2b;
            font-family: "Cormorant";
            font-size: 18px;
            font-weight: 400; }
    .main-footer__info {
      min-width: unset;
      padding-top: 56px;
      padding-left: 55px; }
      .main-footer__info .info__links .info__link {
        font-size: 18px;
        margin-bottom: 30px; }
        .main-footer__info .info__links .info__link .card__desc {
          font-size: 14px;
          margin-top: -17px;
          margin-left: -3px; }
          .main-footer__info .info__links .info__link .card__desc .card__payments {
            font-size: 14px; }
        .main-footer__info .info__links .info__link .main-footer__email {
          width: 193px;
          color: #342b2b;
          font-family: "Cormorant";
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.68px;
          background-color: transparent;
          padding: 0;
          border: none;
          padding-bottom: 4px;
          border-bottom: 1px solid #342b2b; }
        .main-footer__info .info__links .info__link .card__types {
          margin-left: -3px;
          margin-top: 3px; }
          .main-footer__info .info__links .info__link .card__types .card__type:nth-child(even) {
            margin-right: 19px;
            margin-left: 17px; }
          .main-footer__info .info__links .info__link .card__types .card__type--visa {
            width: 45px;
            height: 45px;
            background-image: url(/img/1440_main-footer_icon-visa.png); }
          .main-footer__info .info__links .info__link .card__types .card__type--master {
            width: 71px;
            height: 45px;
            background-image: url(/img/1440_main-footer_icon-master.png); }
          .main-footer__info .info__links .info__link .card__types .card__type--pp {
            width: 45px;
            height: 45px;
            background-image: url(/img/1440_main-footer_icon-pp.png); }
        .main-footer__info .info__links .info__link--desktop {
          display: list-item; }
      .main-footer__info .info__ways {
        width: 180px;
        margin-right: 32px; }
        .main-footer__info .info__ways .info__way {
          margin-bottom: 35px;
          font-size: 18px; }
          .main-footer__info .info__ways .info__way--desktop {
            display: list-item; }
    .main-footer .copyrights {
      margin-top: 49px;
      padding-right: 127px; }
      .main-footer .copyrights:before {
        right: 278px; } }
