.subscription {
  min-width: 320px;
  padding: 90px 0px; }
  .subscription__wrapper {
    background-image: url(/img/320_subscription_bg.jpg);
    background-repeat: no-repeat;
    height: 437px; }
  .subscription .container {
    width: 320px;
    margin: 0 auto; }
  .subscription .form {
    display: flex;
    padding: 66px 55px 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 285px;
    height: 389px;
    background-color: #ece5e1;
    opacity: 0.9; }
    .subscription .form__title {
      margin-top: 0;
      text-align: center;
      line-height: 22px;
      color: #91171d;
      font-family: "Cormorant";
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px; }
    .subscription .form__email {
      border: none;
      background-color: transparent;
      text-align: center;
      color: #342b2b;
      width: 100%;
      font-family: "Cormorant";
      font-size: 14px;
      padding: 0;
      font-weight: 300;
      letter-spacing: 0.68px;
      margin-bottom: 41px;
      padding-bottom: 4px;
      border-bottom: 1px solid #342b2b; }
    .subscription .form__law {
      margin-top: 9px;
      margin-left: 3px;
      text-align: center;
      width: 238px;
      height: 23px;
      opacity: 0.7;
      color: #342b2b;
      font-family: "Open Sans";
      font-size: 10px;
      font-weight: 300;
      letter-spacing: 0.5px; }
    .subscription .form .btn--submit {
      display: inline-block;
      width: 156px;
      border: none;
      padding: 0;
      color: #ffffff;
      font-family: "Cormorant";
      font-size: 16px;
      font-weight: 400;
      height: 36px;
      border-radius: 2px;
      background-color: #91171d; }

@media screen and (min-width: 764px) {
  .subscription {
    padding: 100px 20px 142px; }
    .subscription .container {
      width: 100%; }
    .subscription__wrapper {
      width: 724px;
      height: 437px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(/img/764_subscription_bg.jpg); }
      .subscription__wrapper .form {
        padding: 0;
        padding-top: 62px;
        margin-bottom: -1px;
        width: 556px;
        height: 336px; }
        .subscription__wrapper .form__law {
          font-size: 11px;
          width: 270px;
          letter-spacing: 0.6px; }
        .subscription__wrapper .form__email {
          width: 180px;
          padding-bottom: 2px;
          margin-bottom: 31px; }
        .subscription__wrapper .form__title {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 28px; } }

@media screen and (min-width: 1440px) {
  .subscription {
    padding: 101px 130px 160px; }
    .subscription__wrapper {
      width: 1180px;
      height: 499px;
      background-image: url(/img/1440_subscription_bg.jpg);
      background-repeat: no-repeat; }
      .subscription__wrapper .form {
        padding-top: 70px;
        width: 876px;
        height: 395px;
        margin-bottom: 20px;
        margin-left: 20px; }
        .subscription__wrapper .form .btn--submit {
          width: 167px;
          font-size: 18px;
          margin-left: 17px; }
        .subscription__wrapper .form__title {
          line-height: 42px;
          font-size: 36px;
          margin-bottom: 36px; }
        .subscription__wrapper .form__email {
          font-size: 16px;
          width: 272px;
          margin-bottom: 25px;
          margin-left: 15px; }
        .subscription__wrapper .form__law {
          font-size: 12px;
          width: 290px;
          margin-left: -1px;
          letter-spacing: 0.6px;
          margin-left: -1px; } }
